
    <v-dialog v-model="application.tokenEndPointDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Adresse du Serveur</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>{{initial}}
                <v-text-field label="Adresse" required v-model="endpoint"></v-text-field>
              </v-flex>
              
            </v-layout>
          </v-container>
          <small>*Champ Requis</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="close()">Fermer</v-btn>
          <v-btn color="blue darken-1" flat @click="save()">Enregistrer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
