<v-list two-line subheader v-if="player">
    <v-divider v-if="showJoueurDivider(player)"></v-divider>
    <v-list-tile :key="player.licence"
                 avatar
                 v-on:click.native="loadPartiesDujoueur(player)">
        <v-list-tile-action>
            <v-btn flat icon color="primary" v-on:click.native="infoJoueur(player)">
                <v-icon>info</v-icon>
            </v-btn>
            <!--  <v-icon v-if="item.icon" color="pink">star</v-icon>-->
        </v-list-tile-action>

        <v-list-tile-content>
            <v-list-tile-title>
                <b>{{player.nom +' ' + player.prenom}}</b>


            </v-list-tile-title>
            <v-list-tile-sub-title>
                <v-tooltip bottom>
                    <v-btn slot="activator"
                           color="primary"
                           fab
                           dark
                           small
                           v-on:click.native="showChart(player,0)">
                        <v-icon dark>fa-chart-line</v-icon>
                    </v-btn>
                    <span>Visualisation des graphiques</span>
                </v-tooltip>
                <v-tooltip bottom>

                    <v-chip color="red" text-color="white" slot="activator" v-if="(player.point-player.pointOfficiel)<0">
                        <v-avatar color="red darken-2">
                            <v-icon color="white darken-2">trending_down</v-icon>
                        </v-avatar>
                        <span>{{player.point}}</span>
                    </v-chip>
                    <v-chip color="green" text-color="white" slot="activator" v-else>
                        <v-avatar color="green darken-2">
                            <v-icon color="white darken-2">trending_up</v-icon>
                        </v-avatar>
                        <span>{{player.point}}</span>
                    </v-chip>
                    <span>
                        Points officiel:{{player.point}}
                    </span>
                </v-tooltip>
                <v-chip>

                    <v-avatar color="red" v-if="player.progressionAnnuelle<0">
                        <v-icon color="white darken-2">trending_down</v-icon>
                    </v-avatar>
                    <v-avatar color="green" v-else>
                        <v-icon color="white darken-2">trending_up</v-icon>
                    </v-avatar>
                    <v-tooltip bottom>
                        <span slot="activator">
                            {{player.progressionAnnuelle | formatNumber}}
                        </span>
                        <span>Progression Annuelle:{{player.progressionAnnuelle | formatNumber}} </span>
                    </v-tooltip>

                </v-chip>

                <v-chip>
                    <v-avatar color="red" v-if="player.progressionMensuelle<0">
                        <v-icon color="white darken-2">trending_down</v-icon>
                    </v-avatar>
                    <v-avatar color="green" v-else>
                        <v-icon color="white darken-2">trending_up</v-icon>
                    </v-avatar>
                    <v-tooltip bottom>
                        <span slot="activator">
                            {{player.progressionMensuelle | formatNumber}}
                        </span>
                        <span>Progression Mensuelle:{{player.progressionMensuelle | formatNumber}} </span>
                    </v-tooltip>

                </v-chip>

                <v-chip>
                    <v-tooltip bottom>
                        <span slot="activator">
                            {{player.classementNational }}
                        </span>
                        <span>Classement National:{{player.classementNational }} </span>
                    </v-tooltip>

                </v-chip>
                <v-chip>
                    <v-tooltip bottom>
                        <span slot="activator">
                            {{player.rangRegional }}
                        </span>
                        <span>Classement Regionnal:{{player.rangRegional }} </span>
                    </v-tooltip>

                </v-chip>
                <v-chip>
                    <v-tooltip bottom>
                        <span slot="activator">
                            {{player.rangDepartemental }}
                        </span>
                        <span>Classement Departemental:{{player.rangDepartemental }} </span>
                    </v-tooltip>

                </v-chip>

            </v-list-tile-sub-title>
        </v-list-tile-content>

        <v-list-tile-avatar>
            <!-- <img :src="item.avatar">-->

            <v-chip color="primary" text-color="white">
                <v-avatar class="primary darken-4">{{player.pointOfficiel}}</v-avatar>
                <v-tooltip bottom>
                    <span slot="activator"> {{player.categorie }}</span>
                    <span>
                        {{ping.categorieAge[player.categorie].desc}}
                    </span>
                </v-tooltip>

            </v-chip>
        </v-list-tile-avatar>


    </v-list-tile>


</v-list>