<v-content>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
           <!-- <keep-alive>---->
                <LoginSettingsDialog v-if="application.loginSettingsDialog" :initial="application.SERVER" lazy></LoginSettingsDialog>
            <!--</keep-alive>-->
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                    <v-toolbar dark color="blue-grey">
                        <v-toolbar-title>Identifiez-vous</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn slot="activator" fab dark small color="blue-grey darken-2" v-on:click="resetDatabase()" v-if="application.development">
                                <v-icon>autorenew</v-icon>
                            </v-btn>
                            <span>RAZ Database</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn slot="activator" fab dark small color="blue-grey darken-2" v-on:click="application.showloginSettingsDialog()">
                                <v-icon>settings</v-icon>
                            </v-btn>
                            <span>Parametres</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-card-text>
                        <v-form ref="form" v-model="valid">
                            <v-text-field prepend-icon="person" name="login" label="Licence ou Nom" type="text" v-model="licence" required :rules="licenceRules"></v-text-field>
                            <v-text-field v-if="!isLicence()" prepend-icon="person" name="login" label="Prenom" type="text" v-model="prenom" required :rules="prenomRules"></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-tooltip bottom>
                            
                            <span class="red--text" v-if="!application.serverStatus" slot="activator">Serveur Inaccessible</span>
                            <span v-if="application.server">Assurer-vous que le serveur soit en ligne</span>
                            <span v-else>Veuillez renseigner le serveur</span>
                        </v-tooltip>
                        
                        <v-spacer></v-spacer>
                        <v-btn color="primary" v-on:click="submitForm()" :disabled="!formValid || requested">Entrer</v-btn>
                        <v-btn v-on:click="clearForm()">Effacer</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</v-content>