
    <v-container fluid fill-height grid-list-md class="blue-grey lighten-4">
        <v-layout row wrap>
            <v-flex d-flex xs12 >
                <v-card>
                    <v-toolbar color="blue-grey" dark>
                        

                        <v-tooltip bottom>
                            <v-text-field  slot="activator" full-width clearable color="blue-grey lighten-4" label="Nom ou Classe de Point" v-model="filter" click:clear="joueursFilter()"></v-text-field>
                            <span>Filtrer en indiquant soit un partie du nom,<br /> Soit la classe de classement</span>
                        </v-tooltip>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn slot="activator" icon v-on:click="orderJoueur='byName'">
                                <v-icon>list</v-icon>
                            </v-btn>
                            <span>Trier par ordre alphabetique</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn slot="activator" icon v-on:click="orderJoueur='byPoints'">
                                <v-icon>more_vert</v-icon>
                            </v-btn>
                            <span>Trier par ordre de points</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn slot="activator" icon v-on:click="orderJoueur='byCategorie'">
                                <v-icon>query_builder</v-icon>
                            </v-btn>
                            <span>Trier par catégorie d'age</span>
                        </v-tooltip>
                    </v-toolbar>
                    
                    <PlayerListeItem :player="joueur" v-for="(joueur,index) in joueursFilter"></PlayerListeItem>
                    

                </v-card>
            </v-flex>



        </v-layout>
    </v-container>
