<v-content>
    <v-container fluid fill-height grid-list-md class="blue-grey lighten-4">
        <v-layout row wrap>
            <v-flex d-flex xs12 sm6 md6>
                <v-card>
                    <v-toolbar color="blue-grey" dark>
                        <v-spacer></v-spacer>

                        <v-tooltip bottom>
                            <v-text-field slot="activator" clearable color="blue-grey lighten-4" label="Nom ou Classe de Point" v-model="filter" click:clear="joueursFilter()"></v-text-field>
                            <span>Filtrer en indiqrencontreuant soit un partie du nom,<br /> Soit la classe de classement</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn slot="activator" icon v-on:click="orderJoueur='byName'">
                                <v-icon>list</v-icon>
                            </v-btn>
                            <span>Trier par ordre alphabetique</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn slot="activator" icon v-on:click="orderJoueur='byPoints'">
                                <v-icon>more_vert</v-icon>
                            </v-btn>
                            <span>Trier par ordre de points</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn slot="activator" icon v-on:click="orderJoueur='byCategorie'">
                                <v-icon>query_builder</v-icon>
                            </v-btn>
                            <span>Trier par catégorie d'age</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-list two-line subheader>
                        <template v-for="(joueur,index) in joueursFilter">
                            <v-divider v-if="showJoueurDivider(joueur,index)"></v-divider>
                            <v-list-tile :key="joueur.licence"
                                         avatar
                                         v-on:click.native="loadPartiesDujoueur(joueur)">
                                <v-list-tile-action>
                                    <v-btn flat icon color="primary" v-on:click.native="infoJoueur(joueur)">
                                        <v-icon>info</v-icon>
                                    </v-btn>
                                    <!--  <v-icon v-if="item.icon" color="pink">star</v-icon>-->
                                </v-list-tile-action>

                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <b>{{joueur.nom +' ' + joueur.prenom}}</b>


                                    </v-list-tile-title>
                                    <v-list-tile-sub-title>
                                        <v-tooltip bottom>
                                            <v-btn slot="activator"
                                                   color="primary"
                                                   fab
                                                   dark
                                                   small
                                                   v-on:click.native="showChart(joueur,0)">
                                                <v-icon dark>fa-chart-line</v-icon>
                                            </v-btn>
                                            <span>Visualisation des graphiques</span>
                                        </v-tooltip>
                                        <v-tooltip bottom>

                                            <v-chip color="red" text-color="white" slot="activator" v-if="(joueur.point-joueur.pointOfficiel)<0">
                                                <v-avatar color="red darken-2">
                                                    <v-icon color="white darken-2">trending_down</v-icon>
                                                </v-avatar>
                                                <span>{{joueur.point}}</span>
                                            </v-chip>
                                            <v-chip color="green" text-color="white" slot="activator" v-else>
                                                <v-avatar color="green darken-2">
                                                    <v-icon color="white darken-2">trending_up</v-icon>
                                                </v-avatar>
                                                <span>{{joueur.point}}</span>
                                            </v-chip>
                                            <span>
                                                Points acquis/perdu:{{joueur.point}}
                                            </span>
                                        </v-tooltip>
                                        <v-chip>

                                            <v-avatar color="red" v-if="joueur.progressionAnnuelle<0">
                                                <v-icon color="white darken-2">trending_down</v-icon>
                                            </v-avatar>
                                            <v-avatar color="green" v-else>
                                                <v-icon color="white darken-2">trending_up</v-icon>
                                            </v-avatar>
                                            <v-tooltip bottom>
                                                <span slot="activator">
                                                    {{joueur.progressionAnnuelle | formatNumber}}
                                                </span>
                                                <span>Progression Annuelle:{{joueur.progressionAnnuelle | formatNumber}} </span>
                                            </v-tooltip>

                                        </v-chip>

                                        <v-chip>
                                            <v-avatar color="red" v-if="joueur.progressionMensuelle<0">
                                                <v-icon color="white darken-2">trending_down</v-icon>
                                            </v-avatar>
                                            <v-avatar color="green" v-else>
                                                <v-icon color="white darken-2">trending_up</v-icon>
                                            </v-avatar>
                                            <v-tooltip bottom>
                                                <span slot="activator">
                                                    {{joueur.progressionMensuelle | formatNumber}}
                                                </span>
                                                <span>Progression Mensuelle:{{joueur.progressionMensuelle | formatNumber}} </span>
                                            </v-tooltip>

                                        </v-chip>

                                        <v-chip>
                                            <v-tooltip bottom>
                                                <span slot="activator">
                                                    {{joueur.classementNational }}
                                                </span>
                                                <span>Classement National:{{joueur.classementNational }} </span>
                                            </v-tooltip>

                                        </v-chip>
                                        <v-chip>
                                            <v-tooltip bottom>
                                                <span slot="activator">
                                                    {{joueur.rangRegional }}
                                                </span>
                                                <span>Classement Regionnal:{{joueur.rangRegional }} </span>
                                            </v-tooltip>

                                        </v-chip>
                                        <v-chip>
                                            <v-tooltip bottom>
                                                <span slot="activator">
                                                    {{joueur.rangDepartemental }}
                                                </span>
                                                <span>Classement Departemental:{{joueur.rangDepartemental }} </span>
                                            </v-tooltip>

                                        </v-chip>

                                    </v-list-tile-sub-title>
                                </v-list-tile-content>

                                <v-list-tile-avatar>
                                    <!-- <img :src="item.avatar">-->

                                    <v-chip color="primary" text-color="white">
                                        <v-avatar class="primary darken-4">{{joueur.pointOfficiel}}</v-avatar>
                                        <v-tooltip bottom>
                                            <span slot="activator"> {{joueur.categorie }}</span>
                                            <span>
                                                {{categorieAge[joueur.categorie].desc}}
                                            </span>
                                        </v-tooltip>

                                    </v-chip>
                                </v-list-tile-avatar>


                            </v-list-tile>


                        </template>
                    </v-list>

                </v-card>
            </v-flex>

            <v-flex d-flex xs12 sm6 md6>
                <v-card v-if="showDetail">
                    <v-toolbar color="blue-grey" dark>
                        <!-- <v-toolbar-side-icon></v-toolbar-side-icon>-->

                        <v-toolbar-title v-if="showingPartie">
                            Rencontres de {{currentJoueur.prenom}}
                            <v-chip color="green" text-color="white" v-if="pointJoueur>=0">
                                {{pointJoueur | formatNumber | formatPoints}}
                            </v-chip>
                            <v-chip color="red" text-color="white" v-else>
                                {{pointJoueur| formatNumber | formatPoints}}
                            </v-chip>
                            <v-tooltip bottom>
                                <v-chip color="green" text-color="white" v-if="pointJoueur>=0" slot="activator">
                                    {{pointJoueur+currentJoueur.pointOfficiel | formatNumber | formatPoints}}
                                </v-chip>
                                <v-chip color="red" text-color="white" v-else slot="activator">
                                    {{pointJoueur+currentJoueur.pointOfficiel | formatNumber | formatPoints}}
                                </v-chip>
                                <span>Points Virtuels {{pointJoueur+currentJoueur.pointOfficiel | formatNumber | formatPoints}}</span>
                            </v-tooltip>
                        </v-toolbar-title>
                        <v-toolbar-title v-if="showingHistorique">

                            <v-btn slot="activator"
                                   color="teal"
                                   round
                                   dark
                                   small
                                   v-on:click.native="showChart(currentJoueur,0)">
                                <v-icon dark>fa-chart-line</v-icon>
                            </v-btn>

                            <v-tooltip bottom>

                                <v-chip color="green" text-color="white" v-if="historiques.pointsGagnesPerdu>=0" slot="activator">
                                    <v-avatar class="green darken-4">{{ historiques.nombreDeMatch}}</v-avatar>
                                    {{historiques.pointsGagnesPerdu}}
                                </v-chip>
                                <v-chip color="red" text-color="white" v-else slot="activator">
                                    <v-avatar class="red darken-4">{{ historiques.nombreDeMatch}}</v-avatar>
                                    {{historiques.pointsGagnesPerdu}}
                                </v-chip>
                                <span>Nombre de Matchs/points {{historiques.nombreDeMatch }}/{{historiques.pointsGagnesPerdu}}</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                                <v-chip color="green" text-color="white" v-if="historiques.pointsVictoire>=0" slot="activator">
                                    <v-avatar class="green darken-4">{{ historiques.nombreDeVictoire}}</v-avatar>
                                    {{historiques.pointsVictoire}}
                                </v-chip>
                                <v-chip color="red" text-color="white" v-else slot="activator">
                                    <v-avatar class="red darken-4">{{ historiques.nombreDeVictoire}}</v-avatar>
                                    {{historiques.pointsVictoires}}
                                </v-chip>
                                <span>Nombre de Victoires/points {{historiques.nombreDeVictoire }}/{{historiques.pointsVictoire}}</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                                <v-chip color="green" text-color="white" v-if="historiques.pointsDefaite>=0" slot="activator">
                                    <v-avatar class="green darken-4">{{ historiques.nombreDeDefaite}}</v-avatar>
                                    {{historiques.pointsDefaite }}
                                </v-chip>
                                <v-chip color="red" text-color="white" v-else slot="activator">
                                    <v-avatar class="red darken-4">{{ historiques.nombreDeDefaite}}</v-avatar>
                                    {{historiques.pointsDefaite}}
                                </v-chip>
                                <span>Nombre de Défaites/points {{historiques.nombreDeDefaite }}/{{historiques.pointsDefaite}}</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                                <v-chip color="green" text-color="white" v-if="historiques.moyennePointParMatch>=0" slot="activator">
                                    {{historiques.moyennePointParMatch | formatNumber | formatPoints}}
                                </v-chip>
                                <v-chip color="red" text-color="white" v-else slot="activator">
                                    {{historiques.moyennePointParMatch  | formatNumber | formatPoints}}
                                </v-chip>
                                <span>Moyenne de points/match {{historiques.moyennePointParMatch  | formatNumber | formatPoints}}</span>
                            </v-tooltip>


                            <v-tooltip bottom>
                                <v-chip color="green" text-color="white" v-if="historiques.moyennePointParVictoire>=0" slot="activator">
                                    {{historiques.moyennePointParVictoire }}
                                </v-chip>
                                <v-chip color="red" text-color="white" v-else slot="activator">
                                    {{historiques.moyennePointParVictoire}}
                                </v-chip>
                                <span>Moyenne de points/victoire {{historiques.moyennePointParVictoire }}</span>
                            </v-tooltip>

                            <v-tooltip bottom>
                                <v-chip color="green" text-color="white" v-if="historiques.moyennePointParDefaite>=0" slot="activator">
                                    {{historiques.moyennePointParDefaite }}
                                </v-chip>
                                <v-chip color="red" text-color="white" v-else slot="activator">
                                    {{historiques.moyennePointParDefaite }}
                                </v-chip>
                                <span>Moyenne de points/défaite {{historiques.moyennePointParDefaite }}</span>
                            </v-tooltip>
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon v-on:click="showDetailHistoriques" slot="activator">
                                <v-icon>fa-history</v-icon>
                            </v-btn>
                            <span>Voir l'historique</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon v-on:click="showDetailParties" slot="activator">
                                <v-icon>more_vert</v-icon>
                            </v-btn>
                            <span>Voir les rencontres</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-list>


                        <template v-for="(journee,index) in partieOrdered" v-if="showingPartie">
                            <v-divider v-if="showPartieDivider(journee,index)"></v-divider>
                            <v-list-tile v-if="showPartieDivider(journee,index) ||index==0" color="blue-grey darken-4">
                                <v-list-tile-content>
                                    <v-list-tile-title v-text="journee.date +' ' + journee.epreuve "></v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-action>

                                    <v-chip color="green" text-color="white" v-if="journee.pointsGagnesPerdus>=0">
                                        {{journee.pointsGagnesPerdus | formatNumber | formatPoints}}
                                    </v-chip>
                                    <v-chip color="red" text-color="white" v-else>
                                        {{journee.pointsGagnesPerdus | formatNumber | formatPoints}}
                                    </v-chip>
                                </v-list-tile-action>
                            </v-list-tile>
                            <v-list-tile v-for="partie in journee.parties " :key="partie.idPartie"
                                         avatar
                                         v-on:click="">
                                <v-list-tile-content>
                                    <v-list-tile-title v-text="partie.nom"></v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <v-chip color="green" text-color="white" v-if="partie.victoire=='V'">
                                        <v-avatar class="green darken-4">{{ partie.classement}}</v-avatar>
                                        {{partie.pointsGagnesPerdus | formatNumber | formatPoints}}
                                    </v-chip>
                                    <v-chip color="red" text-color="white" v-else>
                                        <v-avatar class="red darken-4">{{ partie.classement}}</v-avatar>
                                        {{partie.pointsGagnesPerdus | formatNumber | formatPoints}}
                                    </v-chip>
                                </v-list-tile-action>


                            </v-list-tile>


                        </template>

                        <template v-if="showingHistorique">
                            <v-divider></v-divider>
                            <v-list-tile v-for="(histo,index) in historiques.historiques" :key="index"
                                         avatar
                                         v-on:click="">
                                <v-list-tile-content>
                                    <v-list-tile-title v-text="histo.nomPrenomAdversaire"></v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <v-chip color="green" text-color="white" v-if="histo.victoire=='V'">
                                        <v-avatar class="green darken-4">{{ histo.classementAdversaire}}</v-avatar>
                                        {{histo.pointsGagnesPerdus | formatNumber | formatPoints}}
                                    </v-chip>
                                    <v-chip color="red" text-color="white" v-else>
                                        <v-avatar class="red darken-4">{{ histo.classementAdversaire}}</v-avatar>
                                        {{histo.pointsGagnesPerdus | formatNumber | formatPoints}}
                                    </v-chip>
                                </v-list-tile-action>


                            </v-list-tile>
                        </template>
                    </v-list>

                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</v-content>